/* el overflow: hidden; es para que no tenga croll de manera vertical

es importante decirle a la pagina que el html y el body deben tenet un 100%, asi agrra mejor el gradiente

::placeholder para dar estilos direcctamente a una funion del input*/

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    margin: 0;
    background: linear-gradient(#f7ebd8,#f68789, #bf292c);
}

.box {
    background-color:#f7ebd8;
    width: 50%;
    min-height: 320px;
    max-height: 410px;
    margin: auto;
    margin-top: 12vh;
    border-radius: 8px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 10.2px;
    box-shadow: 0px 0px 25px 0px #4B4B4B;
    letter-spacing: 0.5px;
}

.imagen {
    width: 100px;
    padding: 20px 31%;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 15px;
}

input {
    border: none;
    border-bottom: 1.5px solid #c62a3e;
    background: transparent;
    width: 100px;
    border-radius: 4px;
    color: #c62a3e;
    font-family: sans-serif;
    font-size: 10px;
    margin-top: 140px;
}

button {
    height: 18px;
    width: 58px;
    font-size: 10px;
    background: none;
    font-family: sans-serif;
    font-weight: 100;
    border: 1px solid #c62a3e;
    border-radius: 10px;
    color: #c62a3e;
}

button:hover {
    color: #f7ebd8;
    background-color: #bf292c;
    border: 1px solid #f7ebd8;
}

::placeholder {
    color: #c62a3e;
    font-size: 10px;
    font-weight: 300;
    opacity: 0.7; /* para bajarle la opacidad */
}

.mensaje{
    font-size: 8px;
    padding-top: 5px;
    color: #c27979;
}

.poema{
    padding: 1% 6%;
    color: #bf292c;
    margin-top: 5px;
}